body {
  margin: 0;
}
.wrap, .write-message {
  display: flex;
  max-width: 720px;
  flex-direction: column;
  font-family: Arial;
  color: #333;
  line-height: 20px;
  padding: 16px 20px 0 16px;
  margin: auto;
  .user {
    display: flex;
    width: 100%;
    h2 {
      margin: 0;
      padding: 0;
      font-size: 16px;
    }
    .img {
      width: 121px;
      height: 121px;
      flex-shrink: 0;
      border-radius: 50%;
      overflow: hidden;
      img {
        position: relative;
        top: -20%;
        right: 55%;
        z-index: 5;
      }
    }
    .info {
      width: 80%;
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      margin-left: 10px;
      .work {
        font-size: 12px;
        color: #808080;
      }
      .description {
        font-size: 14px;
        width: 100%;
        background-color: #fffbc8;
        padding: 12px 10px 9px 17%;
        transform: translate(-14%);
        border: 1px solid #cecabf;
        border-radius: 5px;
        background-size: cover;
        z-index: 1;
      }
    }
  }
  .services {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 80%;
    margin: 15px 0 0 20%;
    font-size: 13px;
    line-height: 26px;
    .attendance {
      text-align: end;
      margin-right: 5%;
      margin-bottom: 26px;
    }
    .service, .total-all {
      display: flex;

      .wrap-name {
        width: 84%;
        margin: 1px 0;
        .name {
          display: flex;
          padding: 0 0 0 7px;
          border-radius: 0 4px 4px 0;
        }
      }
      .total {
        width: 16%;
        font-weight: bold;
        text-align: center;
      }
    }
    .service:nth-child(2) {
      .name {
        width: 70%;
        background: #b1e19b;
      }
    }
    .service:nth-child(3) {
      .name {
        width: 40%;
        background: #ace2f8;
      }
    }
    .service:nth-child(4) {
      .name {
        width: 30%;
        background: #ace2f8;
      }
    }
    .total-all {
      font-size: 16px;
      font-weight: bold;
      margin: 31px 0;
    }
  }
  .services:before {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    top: 36px;
    left: 0;
  }
  .services:after {
    content: "";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    bottom: 74px;
    left: 0;
  }
  .comment {
    display: flex;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    .comment-info {
      span {
        font-weight: bold;
        margin-right: 12px;
        font-size: 16px;
        line-height: 16px;
      }
      a {
        font-size: 14px;
        line-height: 20px;
      }
    }
    .comment-symbol {
      display: flex;
      align-items: center;
      align-content: center;
      text-align: center;
      font-size: 12px;
      span {
        margin-left: 5px;
      }
      img {
        margin-left: 20px;
      }
    }
  }
  .messages {
    margin: 0 0 20px 0;
  }
  .message {
    line-height: 19px;
    margin: 4px 0;
    .header {
      display: flex;
      align-items: center;
      h2 {
        font-size: 14px;
        font-weight: bold;
        margin-right: 10px;
      }
      .date {
        font-size: 11px;
        color: #808080;
      }
    }
    .message-text {
      background-color: #f2fbff;
      padding: 16px 10px 20px 20px;
      box-shadow: 0 1px 3px 1px #cfcfcf;
      position: relative;
      z-index: 5;
      p {
        margin: 0;
      }
    }
    .border-triangle {
      position: absolute;
      content: "";
      top: -8px;
      left: 10px;
      width:0;
      border-bottom:solid 9px #e6e6e6;
      border-right:solid 9px transparent;
      border-left:solid 9px #f2fbff;
      transform: rotate(-135deg);
      z-index: -1;
    }
    .triangle:before {
      position: absolute;
      content: "";
      top: 0;
      left:-9px;
      width:0;
      border-bottom:solid 8px #f2fbff;
      border-right:solid 8px transparent;
      border-left:solid 8px transparent;
      z-index: -1;
    }
  }
}
.write-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  padding: 30px 20px 0 16px;
  textarea {
    width: 100%;
    max-height: 65px;
    resize: none;
    overflow: auto;
  }
  .send-message {
    margin: 20px 0;
    min-width: 280px;
    padding: 15px 0;
    border-radius: 70px 70px 70px 70px;
    border: 0 solid #000000;
    background-color: #fdd639;
  }
}